@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Termina-Extra-Light";
	src: url("./assets/fonts/TerminaTest-ExtraLight.otf");
}

@font-face {
	font-family: "Termina-Light";
	src: url("./assets/fonts/TerminaTest-Light.otf");
}

@font-face {
	font-family: "Termina-Demi";
	src: url("./assets/fonts/TerminaTest-Demi.otf");
}

@font-face {
	font-family: "Termina-Regular";
	src: url("./assets/fonts/TerminaTest-Regular.otf");
}

@font-face {
	font-family: "Termina-Heavy";
	src: url("./assets/fonts/TerminaTest-Heavy.otf");
}

@font-face {
	font-family: "Termina-Black";
	src: url("./assets/fonts/TerminaTest-Black.otf");
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
